/*paramètre généraux */
a
{
    text-decoration: none;
    color: #FFFFFF;
}
html {
    position: relative;
    min-height: 100%;
}
html, body
{
    display: flex;
    flex-direction: column;
    background-image: url("image_de_fond-min.jpg");
    background-size: cover;
    margin:0;
    padding:0;
    height:100%
}

section, div, footer, nav
{
    display: flex;
}

/*1ere section */
.haut_de_page
{
    justify-content: space-between;
    height: 13%;
    align-items: center;
}

.haut_de_page img
{
    padding: 10px;
}
.logo img
{
    width: 84px;
    height: 81px;
}


.menu img
{
    width: 38px;
    height: 36px;
}

.menu a
{
    font-family: "Inter";
    color: #F9F1F1;
}

nav 
{
    width: 50%;
    height: 100px;
}

nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 220px;
}

nav .main_pages a 
{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #1d1919;
}

label, #toggle
{
display: none;
}
label 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    cursor: pointer;
}
#toggle:checked + .main_pages {
    display: flex;
}

/*2e section */

.description_de_la_page
{
    width: 100%;
    justify-content: center;
    text-align-last: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    height: 18%;
    letter-spacing: 0.5px;
}

/*3e section */

.articles
{
    flex-direction: column;
    padding-left: 10px;
    border-top: 5px solid #423737;
    border-bottom: 5px solid #423737;
    padding-bottom: 15px;
    
}
.titre_articles
{
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #F9F1F1;
    text-decoration: underline #FFFFFF;
}

.titre_articles p
{
    width: 60%;
}
.titre_articles img
{
    width: 127px;
    height: 88px;
    margin-left: 2%;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin-top: 18px;

}

.auteur_article
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFBFB;
    height: 60px;
}


.button_voir_plus button
{
    margin-left: 35%;
    width: 200px;
    font-size: 70%;
    text-align: center;
    padding: 3px 20px;
    background: #176516;
    border: 1px solid #000000;
    border-radius: 6px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.button_voir_plus button:active
{
    transform: scale(0.96);
}

/*4e section*/

.jeux
{
    flex-direction: column;
    padding-left: 10px;
}
.titre_jeux
{
    height: 14%;
    text-decoration: underline #FFFFFF;
}
.titre_jeux p
{
    width: 60%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #F9F1F1;
}

.titre_jeux img
{
    width: 160px;
    height: 100px;
    margin-top: 5%;
    margin-left: 2%;
    box-sizing: border-box;
    border: 1px solid #000000;
}


.description_jeux
{
    margin-left: 8%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FDF7F7;
    padding-right: 50%;
}

.jeux button
{
    margin-top: 15%;
}

/*5e section*/

footer
{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 20%;
    background: #000000;
    border: 2px solid #3D2F2F;
}

.mentions_obligatoire
{
flex-direction: column;
margin-top: 6%;
width: 200%;
height: 60px;
font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 10px;
color: #FDFAFA;
justify-content: space-between;
padding: 10px;
}

.logo_reseaux
{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 35px;
    border-left: 2px solid #FFFFFF;
}


.logo_reseaux img
{
    height: 30px;
}


